.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-link {
  color: #61dafb;
}
.container{
  margin-left: auto;
  margin-right: auto;
  width:1190px;
}
.Content_wrap{
  display: flex;
  justify-content: space-between;

  margin-top: 45px;
}

.Leftbox{
  width: 840px;

}
.Rightbox{
  width: 300px;
}